html {
    scroll-behavior: smooth;
}

body {
    color: #ACB8C9;
    margin: auto;
    background-color: #222425;
}

img {
    border-radius: 25px;
    width: 300px;
}

li {
    list-style: none;
    padding: 5px;
}

#cabecalho {
    background-color: #222425;
    color: #888377;
    height: 70px;
    top: 0;
    position: fixed;
    display: inline;
    width: 100%;
    font-size: 130%;
    font-family: 'Courier New', Courier, monospace;
}

#cabecalho p {
    float: right;
    margin-right: 80px;
}

#cabecalho nav {
    display: inline-block;
}

#cabecalho li,
a {
    display: inline;
    text-decoration: none;
    padding: 20px;
    color: #888377;
}

#apresentacao {
    background-color: #222425;
    height: 500px;
    display: inline-block;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#apresentacao div {
    text-align: center;
    font-size: 100px;
}

#apresentacao article {
    font-size: 80px;
    text-align: center;
}

#sobreMim {
    background-color: #353B3C;
    height: 500px;
    display: inline-block;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#sobreMim div {
    display: inline-block;
    margin-left: 5%;
}

#sobreMim article {
    margin-left: 3%;
    width: 800px;
    text-align: justify;
    display: inline-block;
    margin-top: 15%;
}

#pessoal {
    background-color: #47545C;
    height: 500px;
    display: inline-block;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#pessoal article {
    margin-left: 5%;
    display: inline-block;
    width: 300px;
    padding: 50px;
}

#pessoal div {
    display: inline-block;
    width: 300px;
    padding: 50px;
}

#habilidades {
    display: inline-block;
    width: 300px;
    padding: 50px;
}

#projetos {
    background-color: #353B3C;
    height: 500px;
    display: inline-block;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

#projetos ul {
    margin-top: 80px;
    margin-right: 40px;
}

#projetos li {
    padding: 10px;
}

#contato {
    background-color: #222425;
    height: 100px;
    display: inline-block;
    width: 100%;
    bottom: 0;
    position: static;
    font-family: 'Courier New', Courier, monospace;
}

#contato h2 {
    margin-right: 80px;
    padding-left: 20px;
}

#contato ul {
    margin-left: 35%;
}

#contato li,
a {
    display: inline;
    padding: 20px;
    text-decoration: none;
    color: #888377;
}